<!DOCTYPE HTML>
<html>
    <%-include('head.ejs')%>
<body>
        <!-- Modal -->
        <%-include('form.ejs')%>
        <div class="loader-main">
            <div class="lds-ellipsis"><div></div><div></div><div></div></div>
            </div>
    <div class="header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-2 col-sm-2 col-xs-3">
                    <p><a onclick="history.back()"><img src="/static/images/black-left-icon.png"> <span> Back </span></a></p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 col-xs-7 text-center">
                    <h2><%=projectproperty.name%></h2>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-2" style="text-align: right;">
                    <p class="hidden-xs"><a href="#" data-toggle="modal" data-target="#bookexprience"> Schedule a Curated Experience <img src="/static/images/right-arrow.png"/></a></p>
                <a href="#" class="visible-xs" data-toggle="modal" data-target="#bookexprience"> <img src="/static/images/contact-black-form.png" class="form" /></a>
                </div>
        </div>
        </div>
    </div>
    <div class="createxprice-main1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Choose the type of property</h3>
                    <div id="createxprience1" class="offers">
                        <%for (var i=0; i < projectpropertydetails.length; i++) {
                            let x = (projectpropertydetails[i].project_cat?projectpropertydetails[i].project_cat:[]).filter((item,index)=>projectproperty._id == item)
                            if(x.length){
                            %>
                            <div class="item">
                                <div class="createxprice-div">
                                    <a href="/projectpropertydetails/<%-projectpropertydetails[i].url?projectpropertydetails[i].url:''%>">
                                        <img src="<%=projectpropertydetails[i].image?projectpropertydetails[i].image.replace('public', '/static'):''%>"/>
                                        <p><%-projectpropertydetails[i].name?projectpropertydetails[i].name:''%><img src="/static/images/right-arrow.png" class="arrow"></p>
                                    </a>
                                </div>
                            </div>
                        <%}}%>	
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/aos.js"></script> 
<script type="text/javascript" src="/static/js/custom.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>