<!DOCTYPE HTML>
<html>
    <%-include('head.ejs')%>
<body>
	<%-include('form.ejs')%>
	<div class="loader-main">
		<div class="lds-ellipsis"><div></div><div></div><div></div></div>
		</div>
<div class="header1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-3 col-xs-3">
				<p><a onclick="history.back()"><img src="/static/images/black-left-icon.png"> <span> Back </span></a></p>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-4 col-xs-7 text-center">
				<h2>Select Property</h2>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6 col-xs-2" style="text-align: right;">
				<p class="hidden-xs"><a href="#" data-toggle="modal" data-target="#bookexprience"> Schedule a Curated Experience <img src="/static/images/right-arrow.png"/></a></p>
                <a href="#" class="visible-xs" data-toggle="modal" data-target="#bookexprience"> <img src="/static/images/contact-black-form.png" class="form" /></a>
			</div>
	</div>
	</div>
</div>


<div class="choosproperty-main1">
	<div class="container">
		<div class="row">
            <%for (var i=0; i < projectproperty.length; i++) {%>
                <div class="col-sm-6">
                    <div class="choosproperty-div">
                        <a href="/projectproperty/<%-projectproperty[i].url?projectproperty[i].url:''%>">
                            <img src="<%=projectproperty[i].image?projectproperty[i].image.replace('public', '/static'):''%>"/>
                            <p><%-projectproperty[i].name?projectproperty[i].name:''%><img src="/static/images/right-arrow.png" class="arrow"></p>
                        </a>
                    </div>
                </div>
            <%}%>

		</div>
	</div>
</div>
<script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/aos.js"></script> 
<script type="text/javascript" src="/static/js/custom.js"></script> 
</body>
</html>